option(value="") ----
option(value="ACTSC") ACTSC
option(value="AFM") AFM
option(value="AHS") AHS
option(value="AMATH") AMATH
option(value="ANTH") ANTH
option(value="APPLS") APPLS
option(value="ARBUS") ARBUS
option(value="ARCH") ARCH
option(value="ARTS") ARTS
option(value="AVIA") AVIA
option(value="BET") BET
option(value="BIOL") BIOL
option(value="BME") BME
option(value="BUS") BUS
option(value="CHE") CHE
option(value="CHEM") CHEM
option(value="CHINA") CHINA
option(value="CIVE") CIVE
option(value="CLAS") CLAS
option(value="CO") CO
option(value="COMM") COMM
option(value="CROAT") CROAT
option(value="CS") CS
option(value="DAC") DAC
option(value="DRAMA") DRAMA
option(value="DUTCH") DUTCH
option(value="EARTH") EARTH
option(value="EASIA") EASIA
option(value="ECE") ECE
option(value="ECON") ECON
option(value="EMLS") EMLS
option(value="ENBUS") ENBUS
option(value="ENGL") ENGL
option(value="ENVE") ENVE
option(value="ENVS") ENVS
option(value="ERS") ERS
option(value="ESL") ESL
option(value="FINE") FINE
option(value="FR") FR
option(value="GBDA") GBDA
option(value="GENE") GENE
option(value="GEOE") GEOE
option(value="GEOG") GEOG
option(value="GER") GER
option(value="GERON") GERON
option(value="GRK") GRK
option(value="HIST") HIST
option(value="HLTH") HLTH
option(value="HRM") HRM
option(value="HUMSC") HUMSC
option(value="INDEV") INDEV
option(value="INTEG") INTEG
option(value="ITAL") ITAL
option(value="ITALST") ITALST
option(value="JAPAN") JAPAN
option(value="JS") JS
option(value="KIN") KIN
option(value="KOREA") KOREA
option(value="LAT") LAT
option(value="LS") LS
option(value="MATBUS") MATBUS
option(value="MATH") MATH
option(value="ME") ME
option(value="MEDVL") MEDVL
option(value="MNS") MNS
option(value="MSCI") MSCI
option(value="MTE") MTE
option(value="MTHEL") MTHEL
option(value="MUSIC") MUSIC
option(value="NE") NE
option(value="PACS") PACS
option(value="PHARM") PHARM
option(value="PHIL") PHIL
option(value="PHYS") PHYS
option(value="PLAN") PLAN
option(value="PMATH") PMATH
option(value="PORT") PORT
option(value="PSCI") PSCI
option(value="PSYCH") PSYCH
option(value="REC") REC
option(value="REES") REES
option(value="RS") RS
option(value="RUSS") RUSS
option(value="SCBUS") SCBUS
option(value="SCI") SCI
option(value="SDS") SDS
option(value="SE") SE
option(value="SI") SI
option(value="SMF") SMF
option(value="SOC") SOC
option(value="SOCWK") SOCWK
option(value="SPAN") SPAN
option(value="SPCOM") SPCOM
option(value="STAT") STAT
option(value="STV") STV
option(value="SYDE") SYDE
option(value="VCULT") VCULT
option(value="WS") WS