extends layout

block content

	head
		title #{title}

	body(onload='removeFbHash()')

		// navbar stuff
		div(class='navbar navbar-inverse navbar-fixed-top' role='navigation')
				
				div.container

					div.navbar-header
						a.navbar-brand(href='/') UW Textbook Exchange

					div(class='navbar-collapse collapse')
						form(class='navbar-form navbar-left' method='post' action='/textbooks/search')
							div.form-group
								input(type='text' name='query' class='form-control' size='50' placeholder='search by course code, book title')
								|    
								input(type='submit' class='btn btn-default btn-xs' value='Search')

						ul.nav.navbar-nav.navbar-right
							if !authenticated
								li
									a(href='/auth/facebook') Sign In
							else
								li
									a Welcome #{user.name}
								li
									a(href='/logout') Sign Out

		// actual content
		div.container

			div.page-header
				h1 Textbooks
					//form(method='post' action='/textbooks/search')
						input(type='text' class='form-control input-sm')
					if authenticated
						|   
						button(type='button' class='btn btn-primary btn-sm' data-toggle='modal' data-target='#addBookModal') + Add Textbook
					else
						|  
						button(type='button' class='btn btn-primary btn-sm' onclick='showAlerts()') + Add Textbook
					//|  
					//button(type='button' class='btn btn-success btn-sm' data-toggle='modal' data-target='#searchModal') Search

			div.page-body

				form(method='post' action='/textbooks')

					div
						label Sort By: 
						|   
						select(name='sort' class='input-xs')
							option Course Code
							option Book Title
							option Date
						|   
						input(type='submit' class='btn btn-success btn-xs' value='Apply')
				br

				// actual tabs
				ul(class='nav nav-tabs')
					li.active
						a(href='#all' data-toggle='tab') All
					li
						a(href='#buying' data-toggle='tab') Buying
					li
						a(href='#selling' data-toggle='tab') Selling

				// tab content
				div.tab-content

					div(class='tab-pane active' id='all')
				
						table.table.table-hover

							thead
								tr
									th(width='100px') Course Code
									th(width='500px') Book Title
									th(width='300px') User
									th Date
									th Status
									th

							tbody
								each book in books
									tr
										td #{book.courseCode}
										td #{book.bookTitle}
										td
											a(href='http://www.facebook.com/app_scoped_user_id/#{book.addedBy.id}') #{book.addedBy.name}
										td #{book.addedOn}
										td(style='font-weight: bold') #{book.buysell}
										if authenticated && (user.id == book.addedBy.id)
											td
												form(method='post' action='/textbooks/#{book._id}/delete')
													input(type='submit' class='btn btn-danger btn-xs' value='Delete')
										else
											td
												|   

					div(class='tab-pane' id='buying')

						table.table.table-hover

							thead
								tr
									th(width='100px') Course Code
									th(width='500px') Book Title
									th(width='300px') User
									th Date
									th Status
									th

							tbody
								each book in books
									if book.buysell == 'Buying'
										tr
											td #{book.courseCode}
											td #{book.bookTitle}
											td
												a(href='http://www.facebook.com/app_scoped_user_id/#{book.addedBy.id}') #{book.addedBy.name}
											td #{book.addedOn}
											td(style='font-weight: bold') #{book.buysell}
											if authenticated && (user.id == book.addedBy.id)
												td
													form(method='post' action='/textbooks/#{book._id}/delete')
														input(type='submit' class='btn btn-danger btn-xs' value='Delete')
											else
												td
													|   

					div(class='tab-pane' id='selling')

						table.table.table-hover

							thead
								tr
									th(width='100px') Course Code
									th(width='500px') Book Title
									th(width='300px') User
									th Date
									th Status
									th

							tbody
								each book in books
									if book.buysell == 'Selling'
										tr
											td #{book.courseCode}
											td #{book.bookTitle}
											td
												a(href='http://www.facebook.com/app_scoped_user_id/#{book.addedBy.id}') #{book.addedBy.name}
											td #{book.addedOn}
											td(style='font-weight: bold') #{book.buysell}
											if authenticated && (user.id == book.addedBy.id)
												td
													form(method='post' action='/textbooks/#{book._id}/delete')
														input(type='submit' class='btn btn-danger btn-xs' value='Delete')
											else
												td
													|   
		

	// ADD BOOK MODAL
	div(class='modal fade' id='addBookModal')
		div.modal-dialog
			div.modal-content

				form(role='form' id='addBookForm' class='form-horizontal' method='post' action='/textbooks/add')

					div.modal-header
						h4.class-title Add Textbook

					div.modal-body
						div.form-group
							label(class='col-sm-2') Course Code:
							div(class='col-sm-3')
								select(id='courseName' class='form-control input-sm' name='courseName' onchange='courseSelect()')
									include ./coursenames.jade

							div(class='col-sm-3')
								select(id='courseNum' class='form-control input-sm' name='courseNum' style='visibility: hidden')

						div.form-group
							label(class='col-sm-2') Book Title:
							div(class='col-sm-10')
								input(type='text' class='form-control input-sm' name='bookTitle')

						div.form-group
							label(class='col-sm-2') Buying/Selling:
							div(class='col-sm-10')
								
								div
									input(type='radio' name='buysell' value='Buying' checked)
									label Buying
								div
									input(type='radio' name='buysell' value='Selling')
									label Selling

					div.modal-footer
						button(type='button' class='btn btn-default btn-sm' data-dismiss='modal') Close
						input(type='submit' class='btn btn-primary btn-sm' value='Add')

	// SEARCH BOOK MODAL
	include ./searchModal.jade