doctype html
html
	head
		title= title
		//link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato' type='text/css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/bootstrap-3.2.0-dist/css/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		//script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js')
		script(src='//code.jquery.com/jquery-2.1.1.min.js')
		script(src='//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js')
		script(src='/bootstrap-3.2.0-dist/js/bootstrap.min.js')
		

		block scripts
		
	body
		block content

		//script(src='/javascripts/fbInit.js')
		script(src='/javascripts/courseSelect.js')
		//script(src='/javascripts/bookClick.js')
		script(src='/javascripts/formValidate.js')
		script(src='/javascripts/removeFbHash.js')
		script(src='/javascripts/showAlerts.js')