extends layout

block content

	head
		title #{title}

	body(onload='removeFbHash()')

		// navbar stuff
		div(class='navbar navbar-inverse navbar-fixed-top' role='navigation')
				
				div.container

					div.navbar-header
						a.navbar-brand(href='/') UW Textbook Exchange

					ul.nav.navbar-nav.navbar-right
						if !authenticated
							li
								a(href='/auth/facebook') Sign In
						else
							li
								a Welcome #{user.name}
							li
								a(href='/logout') Sign Out

		// actual content
		div.container

			div.page-header
				h1 Search Results

			div.page-body

				table.table.table-hover

					if searchResults.length != 0
						thead
							tr
								th Course Code
								th(width='500px') Book Title
								th User
								th Date
								th Status
								th

						tbody
							each book in searchResults
								tr
									td #{book.courseCode}
									td #{book.bookTitle}
									td
										a(href='http://www.facebook.com/app_scoped_user_id/#{book.addedBy.id}') #{book.addedBy.name}
									td #{book.addedOn}
									td(style='font-weight: bold') #{book.buysell}
									if authenticated && (user.id == book.addedBy.id)
										td
											form(method='post' action='/textbooks/#{book._id}/delete')
												input(type='submit' value='Delete')
									else
										td
											|   

					else
						center No results found
				br

				div
					center
						a(href='/textbooks' type='button' class='btn btn-primary btn-sm') Back
						|  
						button(type='button' class='btn btn-success btn-sm' data-toggle='modal' data-target='#searchModal') New Search

		include ./searchModal.jade