// SEARCH BOOK MODAL
div(class='modal fade' id='searchModal')
	div.modal-dialog
		div.modal-content

			div.modal-header

				// actual pills
				ul(class='nav nav-pills')
					li.active
						a(href='#searchCode' data-toggle='pill') Search By Course Code
					li
						a(href='#searchTitle' data-toggle='pill') Search By Title

			div.modal-body

				// pill content
				div.tab-content

					// search by course code
					div(class='tab-pane active' id='searchCode')
						form(role='form' id='searchCodeForm' class='form-horizontal' method='post' action='/textbooks/searchCode')
							
							div.form-group
								label(class='col-sm-2') Course Code: 
								div(class='col-sm-3')
									select(id='courseName' class='form-control input-sm' name='courseName' onchange='courseSelect()')
										include ./coursenames.jade
								div(class='col-sm-3')
									select(id='courseNum' class='form-control input-sm' name='courseNum' style='visibility: hidden')
							
							div.modal-footer
								button(type='button' class='btn btn-default btn-sm' data-dismiss='modal') Close
								input(type='submit' class='btn btn-success btn-sm' value='Search')

					// search by book title
					div(class='tab-pane' id='searchTitle')
						form(role='form' id='searchTitleForm' class='form-horizontal' method='post' action='/textbooks/searchTitle')

							div.form-group
								label(class='col-sm-2') Title:
								div(class='col-sm-10')
									input(type='text' class='form-control input-sm' name='bookTitle')

							div.modal-footer
								button(type='button' class='btn btn-default btn-sm' data-dismiss='modal') Close
								input(type='submit' class='btn btn-success btn-sm' value='Search')